<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
  <target name="file" xsi:type="File"
      fileName="${basedir}/App_Data/Logs/${shortdate}/${logger}.txt"
      layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}" />
  <target name="FatalFile" xsi:type="File"
      fileName="${basedir}/App_Data/Logs/${shortdate}/FatalFile.txt"
      layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}" />
  <target name="eventlog" xsi:type="EventLog"
      source="Lab_Of_NLog" log="Application"
      layout="${date}: ${message} ${stacktrace}" />
  </targets>
  <rules>
    <logger name="*" levels="Trace, Debug, Info, Warn" writeTo="file" />

    <logger name="*" level="Fatal" writeTo="FatalFile" />
    <logger name="*" level="Fatal" writeTo="eventlog" />

    <!--
    NLog提供的六種不同等級來各自定義處理方式，六種等級的說明如下：

    Trace：用於追蹤，可以在程式裡需要追蹤的地方將訊息以Trace傳出。
    Debug：用於開發，於開發時將一些需要特別關注的訊息以Debug傳出。
    Info：訊息，記錄不影響系統執行的訊息，通常會記錄登入登出或是資料的建立刪除、傳輸等。
    Warn：警告，用於需要提示的訊息，例如庫存不足、貨物超賣、餘額即將不足等。
    Error：錯誤，記錄系統實行所發生的錯誤，例如資料庫錯誤、遠端連線錯誤、發生例外等。
    Fatal：致命，用來記錄會讓系統無法執行的錯誤，例如資料庫無法連線、重要資料損毀等。
    -->
    <!--
    Rules的各種屬性說明如下：

    name – source/logger name (may include wildcard characters *)
    minlevel – minimal log level for this rule to match
    maxlevel – maximum log level for this rule to match
    level – single log level for this rule to match
    levels - comma separated list of log levels for this rule to match
    writeTo – comma separated list of target that should be written to when this rule matches.
    final – make this rule final. No further rules are processed when any final rule matches.
    -->
  </rules>
</nlog>
